@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700&display=swap');
*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
@keyframes animation {
    from{
        opacity: .5;
        -webkit-transform: scale(.98) ;
    }
    to{
        opacity: 1;
        -webkit-transform: scale(1) ;
    }
}
body{
     background-image: url('https://i.pinimg.com/1200x/56/c5/3a/56c53a81ee8c21414d9c3f98bf604c17.jpg');
     background-repeat: no-repeat;
     background-size: cover;
}
.overlay{
    width: 100%;
    height:100%;
    background: rgba(0,0,0,.5);
}
nav{
    height:50px;
    width:100%;
    display:flex;
    padding:0 10px;
    align-items: center;
    font-size:26px;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(5px);
    color: white;

}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height:calc(100vh - 50px);
    display: flex;
}
.cart-page{
    width: 50%;
    height:calc(100vh - 50px);
    padding: 100px 10px 0 10px;;
    

}
.view-page{
    width: 50%;
    height: calc(100vh - 50px);
    padding: 10px;
}
.OrderList{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:  white;
}
.list-title{
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
}
.box button{
 padding: 10px 20px;
 margin: 10px;
 cursor: pointer;
}
.box-group{
    width: 100%;

}
.box{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 20px 0;
    border: 1px solid rgb(255, 255, 0, .1);
}
button:hover{
    background:  white;
    color: black;
}
button:active{
    transform: scale(.98);
}
.details{
    height: 70px;
    width:300px;
    margin: 0 auto;
}
input{
    height: 40px;
    width: 100%;
    border: none;
    padding-left: 10px;
}
input:focus{
    border: 4px solid  white;
}
.details label{
    color:  white;
}
.input-box-view{
    color:white;
    display:none;
    padding: 20px 0;
    border-radius: 20px;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(5px);
    -webkit-animation: animation .6s ease;
}

.input-box{
    width:100%;
    border-radius: 20px;
    padding : 50px 0 ;
    background: rgba(255,255,255,.1);
    backdrop-filter: blur(5px);
    -webkit-animation: animation .6s ease;
    
}
.item{
    width: 100%;
    margin: 15px 10px 25px 10px;
 
}
.inputs{
    width: 200px;
}
.inputs label{
    color:  white;
}
.inputs span{
    color: white;
}
.content{
    width: 100%;
    height:100px;
    display:flex;
    justify-content: space-between;
}
.btn-item{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    width: 200px;
}
.btn-item button{
    margin: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border:1px solid  white;
    background: transparent;
    color: white;
}
.btn-item button:first-child{
    background:  white;
    color: black;
    
}
.btn-item button:last-child:hover{
    background:  white;
    color: black;
    
}
.item-title{
    width: 100%;
    border-bottom: 1px solid rgb(252, 252, 57, .4);
    height: 30px;
    color: white;
}
.create__update, #submit_submit{
    color: black;
    background:  transparent;
    border: 1px solid  white;
    border-radius: 20px;
    padding: 10px 20px; 
    cursor: pointer;
    margin: 10px 0;
}
.create__update:hover, #submit_submit:hover{
    background: white;
    color:black;
}
#submit_submit{
    width:100%;
    color: white;
}
.create__update{
    width:50%;
    color:white;
    
}
.clear{
    color:  white;
    background: transparent;
    padding: 10px 20px; 
    border: 1px solid  white;
    cursor: pointer;
    width:50%;
    border-radius: 20px;
}
.pop{
    width: 300px;
    background:  white;
    color: black;
    height: 80px;
    position: absolute;
    right:40%;
    left:39%;
    top: 10px;
    display: none;

}
table{
    width: 100%;
    color: white;
}
table button{
    width: 70px;
    padding:5px 0;
    margin: 2.5px;
    cursor:pointer;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    background: transparent;
}
table button:hover{
   background: white;
}
td{
    text-align: center;
    height:50px;
    margin-bottom: 50px;
}
td:last-child{
    border-radius: 0 20px 20px 0;
}
td:first-child{
    width:60%;
    border-radius: 20px 0 0 20px;
}
tr{
    -webkit-animation: animation .5s ease;
    border-radius: 20px;
    
}
tr:nth-child(odd){
    background: rgb(255,255,255,.2);
    backdrop-filter: blur(5px);
}

button:hover{
    transform:scale(1.03);
}
h1{
    color:white;
}